*.log
*.swp
._*
.DS_Store
.Trashes
.tmp
.git
.svn
.hg
.lock-wscript
.wafpickle-N
Desktop.ini
node_modules
bower_components
CVS
npm-debug.log

backstop_data
app
devApp
dist
todo.md
secretConf.json
index.html