//
// Custom Bootstrap Variables
// --------------------------------------------------


//== Colors
$custom-primary: #e9e4e4;
$custom-secondary: #474747;
//== Scaffolding
$body-bg: $custom-primary;
$text-color: $custom-secondary;
//== Navbar
$navbar-height: 90px;
$navbar-border-radius: 0px;
$navbar-margin-bottom: 0px;
$navbar-default-border: 0px transparent none;
//== Navbar links
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #37adbf;
$navbar-default-link-hover-bg: $navbar-default-link-color;
$navbar-default-link-active-color: $navbar-default-link-color;
$navbar-default-link-active-bg: $navbar-default-link-hover-color;
