@import 'sprites-2x.scss';
@include retina-sprites($retina-groups);

.agenda-date,
.agenda-current {
	width: 160px;
}
.agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px;
}
.agenda-date .shortdate {
  font-size: 0.75em;
}
span {
	font-size: 22px;
	margin: 0 6px;
}
ol {
	list-style: none;
	margin-left: -22px;
}