//@import 'sprites';
@import 'svg_sprites';
@import 'retinaSprites';

.agenda-date,
.agenda-current {
  width: 160px;
}

.agenda-date {

  .dayofmonth {
    float: left;
    font-size: 36px;
    line-height: 36px;
    margin-right: 10px;
    text-align: right;
    width: 40px;
  }

  .shortdate {
    font-size: .75em;
    display: flex;
  }
}

.social {
  display: block;
  height: 32px;
  width: 32px;

  &-fork {
    @include retina-sprite($fork-group);
  }

  &-github {
    @include retina-sprite($github-group);
  }

  &-twitter {
    @include retina-sprite($twitter-group);
  }
}

span {
  font-size: 22px;
  margin: 0 6px;
}

ol {
  list-style: none;
  margin-left: -22px;
}
